**/metastore_db
*.crc
*.iml
*.sc
.DS_Store
.cache
.classpath
.externalToolBuilders
.history
.idea
.project
.settings/
.worksheet/
lib/
.factorypath
.bloop
.metals
.vscode
target
_SUCCESS
dependency-reduced-pom.xml
.versionsBackup
